.toubu {
	width: 100%;
	height: 65px;
	background: #fff;
	border-bottom: 1px solid #d6dde2;
}

.img {
	width: 20%;
	height: 100%;
	float: left;
}

.img img {
	padding: 5px 0;
}

.toubu-neibu {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.toubu-centen {
	width: 80%;
	height: 100%;
	float: left;
}

.toubu-centen h5 {
	float: left;
	width: 30%;
	height: 100%;
	line-height: 65px;
	display: block;
	text-align: center;
}

.chengjixinxi {
	width: 30%;
	float: left;
}

.chengjixinxi img {
	margin-top: 29px;
	margin-left: 26px;
}

.zhongjian {
	width: 1200px;
	min-height: 500px;
	margin: 0 auto;
	margin-top: 30px;
}

.left {
	width: 50%;
	height: 100%;
	float: left;
}

.right {
	width: 50%;
	height: 100%;
	float: left;
}

.tishi {
	margin-top: 10px;
	padding: 12px 20px 3px;
	color: #6c8291;
	background: #fff9eb;
	border-radius: 3px;
	box-shadow: -1px 2px 1px 0 #dee4e7;
}

.tishi h1 {
	font-size: 12px !important;
}

.chengke {
	margin-top: 20px;
	margin-bottom: 20px;
}

.chengke h2 {
	display: inline-block;
	font-size: 18px;
	margin-right: 10px;
	color: #223344;
}

.yonghu {
	min-height: 60px;
	padding: 6px 20px 15px 0;
	background: #fff url(//pic.c-ctrip.com/flight/book/card_repeat.png) 100% 4px repeat-y;
	position: relative;
	margin-bottom: 10px;
	height: 208px;
}

.yonghu input {
	width: 60%;
	padding: 41px 0 8px 0;
	margin-left: 20px;
	height: 18px;
	font-weight: bold;
	font-size: 14px;
	color: #223344;
	background: #fff;
	border: none;
	border-bottom: 1px solid #b4c4d6;
	border-radius: 0;
	outline: none;
	margin-right: 27px;
}

.lianxiren {
	padding: 12px 20px 15px !important;
	border-radius: 3px;
	box-shadow: -1px 2px 1px 0 #dee4e7;
	position: relative;
	margin-bottom: 25px !important;
	background: #fff;
	height: 50px;
}

.lianxiren input {
	width: 30%;
	padding: 5px 0 8px 0;
	height: 18px;
	font-weight: bold;
	font-size: 14px;
	color: #223344;
	background: #fff;
	border: none;
	border-bottom: 1px solid #b4c4d6;
	border-radius: 0;
	outline: none;
}

.xiayibu {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0;
	margin-bottom: 10px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	background: #2277ee;
	border: 1px solid #2277ee;
	border-radius: 3px;
}

.right {
	position: static;
	width: 398px;
	left: 882px;
	top: 30px;
	background: rgb(245, 248, 249);
	min-height: 500px;
	margin-left: 20px;
}

.didiana {
	padding: 50px;
}

.didiana h3 {
	padding-bottom: 8px;
	font-size: 23px;
	font-weight: 700;
	float: left;
	text-align: center;
	margin-right: 20px;
}

.xianzai {
	width: 20%;
	height: 100%;
	float: left;
}

.xianzai img {
	width: 50%;
	height: 100%;
	margin-top: -3px;
}

.hangkong {
	width: 100%;
	height: 50px;
}

.hangkong {
	padding-bottom: 10px;
}

.hangkong span {
	float: left;
	font-size: 12px !important;
	display: block;
	width: 20%;
	height: 100%;
	text-align: center;
	color: #849bab;
}

.hangcheng {
	width: 100%;
	height: 90px;
}

.zuobianshijian h3 {
	display: block;
	font-size: 24px;
	font-weight: 500;
	height: 27px;
}

.zuobianshijian span {
	display: block;
	width: 100%;
	padding-top: 6px;
	font-size: 12px;
}

.zuobianshijian {
	width: 34%;
	height: 100%;
	float: left;
}

.tubiao-cente {
	width: 25%;
	height: 100%;
	margin-left: 3%;
	margin-right: 3%;
	float: left;
}

.tubiao-cente img {
	width: 80%;
	margin-top: -6px;
}

.youbianshijian {
	width: 34%;
	height: 100%;
	float: left;
}

.youbianshijian h3 {
	display: block;
	font-size: 24px;
	font-weight: 500;
	height: 27px;
}

.youbianshijian span {
	display: block;
	width: 100%;
	padding-top: 6px;
	font-size: 12px;
}

.hangcheng{
border-bottom: 1px solid #e0e5e7;
}
.total-price{
    padding: 13px 30px 0;
    color: #ff7d13;
    font-size: 35px;
    font-weight: 700;
    border-top: 1px solid #e0e5e7;
    margin-top: -1px;
    text-align: right;
}